@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 100vh;
    width: 100vw;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#one{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#two{
    background-color: hsl(184, 100%, 22%);

}
#three{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}
#one,#two,#three{
    width: 220px;
    padding: 50px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    margin-top: 30px;
}
p{  
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    width: 210px;
    line-height: 25px;
}
button{
    margin-top: 50px;
    width: 150px;
    border-radius: 2.5em;
    height: 50px;
    font-family:'Lexend Deca', sans-serif;
    border:none;
}
button:hover{
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor:pointer;
}
#one button{
    color:hsl(31, 77%, 52%)
}
#one button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    cursor:pointer;
}

#two button{
    color: hsl(184, 100%, 22%);
}
#two button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);

}
#three button{
    color:hsl(179, 100%, 13%)
}
#three button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    
}

@media (max-width: 1000px){
    body{
        padding:0;
        justify-content: center;
        align-items: center;
        display: grid;
        width: 100vw;
        height: 100vh;
        margin-bottom:0  
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    p{
        width: 100%;
    }
    #one,#two,#three{
        width:60%;
    }
    #one{
        border-radius: 0;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    #two{
        border-radius: 0;

    }
    #three{
        border-radius: 0;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    button{
        margin-top: 15px;
    }
}
@media (min-width:750px) {
    #one,#two,#three{
        width: 80%;
    }
}
